# Dependências
node_modules/

# Build
dist/

# Ambiente
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.log

# IDE
.vscode/
.idea/
*.sublime-workspace

# Projeto
uploads/*
!uploads/.gitkeep
nul
backend/nul

# Segurança
chavesAsaas.md
